.cntBanner {
    width: 100vw;
    cursor: url(../../assets/cursors/windows95-cursor.png),auto;
  }

  .cntBanner_text{
    font-family: "Beatrice";
    font-size: 4rem;
    color: black;
    width: fit-content;
    height: fit-content;
    letter-spacing: 10px;
    margin: 60px 0px 40px 60px;
  }