.labelInfo{
    height: fit-content;
    width: 100vw;
    position: absolute;
    top: 68vh;
    display: flex;
    justify-content: space-between;
    pointer-events: none;

}

.left{
    margin: 1rem 2rem 1rem 1rem;
    max-width: 15ch;
    min-width: 12ch;
    font-size: 35px;
    text-align: start;
    line-height: 1.1;
    overflow: hidden;
    font-weight: 900;
    height: fit-content;
    width: fit-content;

}

.right{
    max-width: 15ch;
    min-width: 12ch;
    font-size: 35px;
    position:absolute;
    line-height: 1.1;
    font-weight: 900;
    overflow: hidden;
}