.aboutMeText {
    font-family: "Popfun";
    font-size: 8rem;
    color: black;
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-left: 20px;
    letter-spacing: 10px;
  }